
.page{
    background-color: #e7e8ec;
    max-width:740px;
}
.header img{
    max-width:900px;
    max-height: 200px;
}
.photo{
    max-width:200px;
    max-height: 200px;
    overflow: hidden;
}
.photo img{
    max-width:200px;
}

.page_info{
    display: flex;
    margin-top:20px;
}
.row_info{
    display: flex;
}
.info{
    margin-left:20px;
}
@media (max-width:1000px){
    .page{
       padding-right:30px;
    }
}