
.profileInfo{
    background-color: #e7e8ec;
    width:740px;
}
.header img{
    width:900px;
    max-height: 200px;
}
.photo{
    max-width:200px;
    max-height: 200px;
    overflow: hidden;
}
.photo img{
    max-width:200px;
}

.page_info{
    display: flex;
    margin-top:20px;
}
.row_info{
    display: flex;
    max-width:700px;
}
.info{
    margin-left:0px;
}
.contact {
    padding-left: 10px;
}
.profileInfo h3{
    margin:0px;
}
.page_info input{
    margin:10px 0px;
}
.page_info button{
    margin:10px 0px;
}
.page_info b, h4{
    line-height:1.5;
}