
.photo{
    max-width:800px;
}

.author{
    max-width:70px;
    max-height: 70px;
    min-width:50px;
    min-height: 50px;
    border-radius:50px;
    overflow: hidden;
    margin:10px 10px 0px 0px;
}
.author img{
    width:100%;

}
.content{
}
.wrap{
    display:flex;
    margin-top:20px;
    margin-bottom:30px;
}
.like{
    margin:45px 10px 0px auto;
}