.page{
    display:grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs{
    padding:10px;
}
.messages{
    padding:10px;
    margin-left:50px;
    margin-right:200px;
}

a{
    text-decoration: none;
    color:black;
}
.textarea{
    height:50px;
    width:100%;
    resize:vertical;
    display:block;
}

.button{
    display:block;
}